################################################################################
# Resonance Project                                                            #
# Resonance implemented with Pyretic platform                                  #
# author: Hyojoon Kim (joonk@gatech.edu)                                       #
# author: Nick Feamster (feamster@cc.gatech.edu)                               #
################################################################################

################################################################################
# 1. Fill in modules in MODULES clause, separating each with ",". 
#  - You can disable modules by commenting them out by putting "#" in front. 
################################################################################

################################################################################
# 2. Specify the composition of modules in COMPOSITION clause.
#  - You can disable lines by commenting them by putting "#" in front. 
#  - Specify only one composition here. The FIRST line with NO "#" will be
#    be used for the composition.
################################################################################

################################################################################
#         DON'T PUT ANYTHING BETWEEN MODULES AND COMPOSITION CLAUSES!          #
################################################################################

MODULES = {
  pyretic.refact.pyresonance.modules.dp1,
  pyretic.refact.pyresonance.modules.dp2,
  pyretic.refact.pyresonance.modules.cp2,
}


COMPOSITION = {
#  auth + ids
#  auth >> ids
#  auth >> (ids + your_app)
#  (auth >> ids) + server_lb 
#  server_lb 
}


DEPARTMENTS = {
  core: cp2
  10.0.0.1: dp1
  10.0.0.2: dp1
  10.0.0.3: dp2
  10.0.0.4: dp2
  10.0.0.100: dp2
}
