################################################################################
# Resonance Project                                                            #
# Resonance implemented with Pyretic platform                                  #
# author: Hyojoon Kim (joonk@gatech.edu)                                       #
# author: Nick Feamster (feamster@cc.gatech.edu)                               #
################################################################################

################################################################################
# 1. Fill in modules in MODULES clause, separating each with ",". 
#  - You can disable modules by commenting them out by putting "#" in front. 
################################################################################

################################################################################
# 2. Specify the composition of modules in COMPOSITION clause.
#  - You can disable lines by commenting them by putting "#" in front. 
#  - Specify only one composition here. The FIRST line with NO "#" will be
#    be used for the composition.
################################################################################

################################################################################
#         DON'T PUT ANYTHING BETWEEN MODULES AND COMPOSITION CLAUSES!          #
################################################################################

MODULES = {

  pyretic.refact.pyresonance.modules.auth,
  pyretic.refact.pyresonance.modules.ids,
  pyretic.refact.pyresonance.modules.your_app,

}


COMPOSITION = {
#  auth + ids
#  auth >> (ids + your_app)
  auth >> ids    
}

