################################################################################
# Resonance Project                                                            #
# Resonance implemented with Pyretic platform                                  #
# author: Hyojoon Kim (joonk@gatech.edu)                                       #
# author: Nick Feamster (feamster@cc.gatech.edu)                               #
################################################################################

################################################################################
# 1. Fill in modules in MODULES clause, separating each with ",". You can
# disable modules by commenting them out by putting "#" in front. 
#
# 2. Specify the composition of modules in COMPOSITION clause.
################################################################################

MODULES = {

  pyretic.refact.pyresonance.modules.auth,
  pyretic.refact.pyresonance.modules.ids,

}

COMPOSITION = {
  auth >> ids

}

